<!DOCTYPE html>
<html lang="ru" >

<head>
	<meta charset="UTF-8">
	<title>Песочница</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link href="https://fonts.googleapis.com/css?family=Montserrat:200,200i,400,400i,600,600i&display=swap&subset=cyrillic" rel="stylesheet">
	<link rel="stylesheet" href="./style.css">

</head>

<body>
<div id="report">
	<div>
		<div v-for="item in transactions" :key="item.date">
			<div>
				<span>{{ item.date }}</span>
			</div>
			<ul>
				<li v-for="item in item.items"
					:key="item.public_id"
					class="transaction">
					<details>
						<summary>
							<div class="order">Заказ: <b>{{ item.event_id }}</b></div>
							<div class="time"><time datetime="2019-04-18T16:45">{{ dateToTime(item.created_at) }}</time></div>
							<div class="account">{{ makeSpaces(item.account_number) }}</div>
							<div class="amount rubles" :class="item.type === 'PURCHASE' || item.type === 'PURCHASE_BILL' ? 'negative' : 'positive'">
								{{ item.amount }}
							</div>
						</summary>
						<p class="description" v-if="item.description">{{ item.description }}</p>
					</details>
				</li>
			</ul>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
<script  src="./script.js"></script>
</body>
</html>
